.main-nav
{
    float: right;
	list-style: none;
    margin-top: 30px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
    font-size: 3vmin;
    font-family: Arial, Helvetica, sans-serif;
	font-weight: 700;
}

.main-nav li a:hover
{
	color: red;
}

body{
    background: black;
}

#frame{
    padding-left: 15px;
    padding-right: 15px;
}

.mar-t{
    margin-top: 25px;
}

.pad-t{
    padding-top: 50px;
}

.mar-r{
    margin-right: 25px;
}

.pad-r{
    padding-right: 50px;
}

.mar-l{
    margin-left: 65px;
}

.pad-l{
    padding-left: 50px;
}

.mar-b{
    margin-bottom: 35px;
}

.pad-b{
    padding-bottom: 100px;
}

#img-top #hero{
    position: relative;
    width: 100%;
}

#img-top #text{
    text-transform: uppercase;
    font-family: 'Spartan', sans-serif;
    font-size: 60px;
    position: absolute;
    color: white;
    font-weight: 800;
    top: 200px;
    text-align: center;
    width: 85%;
    margin-left: 48px;
    padding-left: 30px;
}

#animal-stats #intro{
    background: #f1f1fa;
}

#animal-stats #intro h1{
    font-family: 'Fjalla One', sans-serif;
    font-size: 56px;
    letter-spacing: 0.1em;
    line-height: 64px;
    margin-bottom: 20px;
    font-weight: 100;
}

#animal-stats #intro #opener{
    font-family: 'PT Serif', serif;
    color: #56565b;
    font-size: 20px;
    line-height: 33px;
}


#animal-stats .stat{
    background: #ededed;
}

#animal-stats .stat ul li{
    list-style-type: none;
    display: list-item;
    text-align: -webkit-match-parent;
} 

#animal-stats .stat ul li #sname{
    font-style: italic;
}
/* #animal-stats .stat ul li i{
    float: left;
} 

#animal-stats .stat ul li i{
    float: left;
}  */

#animal-stats .stat ul li h4{
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

#animal-stats .stat ul p{
    margin-left: 15px;
    font-family: 'Assistant', cursive;
    font-size: 14px;
    line-height: 28px;
}

#animal-stats #info{
    background: white;
    padding-bottom: 50px;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    line-height: 28px;
}

#animal-stats #info p{
    width: 85%;
    padding-left: 150px;
    color: #56565b;
}

#animal-stats #superimpose{
    background: #f1f1fa;
}

#animal-stats #superimpose .super{
    position: relative;
    width: 100%;
    box-shadow: 0px 2px 3px grey;
}

#animal-stats #superimpose .impose{
    font-family: 'Varta', sans-serif;
    box-shadow: 1px 1px 3px 3px rgb(187, 187, 187);
    font-size: 16px;
    position: absolute;
    background: white;
    text-align: center;
    top: 330px;
    width: 85%;
    margin-left: 48px;
    padding: 20px 20px;
    border: #d3d2d2;
}

#animal-stats #info1{
    background: white;
    padding-bottom: 30px;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    line-height: 28px;
}
#animal-stats #info1 p{
    width: 85%;
    padding-left: 3rem;              /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    color: #56565b;
}

#animal-stats #threat{
    /* background: #222 url(https://www.worldwildlife.org/assets/structure/unique/bg-dark-patterned-25ffd5decf37fe354a515b94e84b82763a8d0379f917edc3829a9eed362145d0.jpg) 50% 0; */
    background: #f1f1fa;
    padding-bottom: 30px;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    line-height: 28px;
}

#animal-stats #threat #ppp{
    width: 85%;
    padding-left: 3rem;                 /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    color: #56565b;
}

#animal-stats #threat #poaching h1{
    color: #de3831;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    padding-top: 10px;
    font-size: 1.4rem;                  /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    font-weight: 600;
    text-align: center;
}

#animal-stats #threat #poaching p{
    padding-left: 5px;
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;                        /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
}

#animal-stats #threat #poaching{
    background: #222 url(https://www.worldwildlife.org/assets/structure/unique/bg-dark-patterned-25ffd5decf37fe354a515b94e84b82763a8d0379f917edc3829a9eed362145d0.jpg) 50% 0;
    width: 150%;
    border: 2px solid #a3a2a1;
}

#animal-stats #help{
    background: white;
    padding-bottom: 50px;
    font-family: 'PT Serif', serif;
    font-size: 18px;
    line-height: 28px;
}

#animal-stats #help p{
    width: 100%;
    padding-left: 150px;
    color: #56565b;
    /* text-align: center; */
}

/* ------------------------------------------------------------------------------------------------------------------------------ */
.item-highlight-dark:before, .item-highlight-dark:after {
    background: #de3831;
    content: "";
    display: block;
    height: 6px;
    left: 50%;
    margin-left: -10px;
    position: absolute;
    width: 20px;
}

.hdr-primary:before {
    border: 1px solid #e2dfd7;
    border-width: 1px 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

.hdr-primary-1:before {
    border: 1px solid #e2dfd7;
    border-width: 1px 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    margin-top: -2px;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 1;
}

.hdr-primary-shaded-light-pattern span {
    background: #ededed url(/assets/structure/unique/bg-patterned-e2dd5fb….png);
}

.hdr-primary-shaded-light span {
    background: #f1f1fa url(/assets/structure/unique/bg-patterned-e2dd5fb….png);
}

.hdr-primary {
    font: 48px/1 WWFRegular, Helvetica, Arial, sans-serif;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.07);
    text-transform: uppercase;
}

.hdr-primary-1 {
    font: 48px/1 WWFRegular, Helvetica, Arial, sans-serif;
    margin-bottom: 50px;
    position: relative;
    text-align: center;
    text-shadow: 4px 4px 0 rgba(0,0,0,0.07);
    text-transform: uppercase;
}

.hdr-primary span {
    background: #fff;
    display: inline-block;
    padding: 0 18px;
    position: relative;
    z-index: 2;
}
.hdr-primary-1 span {
    background: #f1f1fa;
    display: inline-block;
    padding: 0 18px;
    position: relative;
    z-index: 2;
}

/* -------------------------------------RESPONSIVE------------------------------------------------- */

@media(max-width: 1290px){
    #img-top #hero{
        position: relative;
        width: 100%;
    }
    
    #img-top #text{
        text-transform: uppercase;
        font-family: 'Spartan', sans-serif;
        font-size: 40px;
        position: absolute;
        color: white;
        font-weight: 800;
        top: 180px;
        text-align: center;
        width: 85%;
        margin-left: 48px;
        padding-left: 30px;
    }
    
    #animal-stats #info{
        background: white;
        padding-bottom: 50px;
        font-family: 'PT Serif', serif;
        font-size: 15px;
        line-height: 28px;
    }
    
    #animal-stats #info p{
        width: 85%;
        padding-left: 70px;
        color: #56565b;
    }
    
    #animal-stats #superimpose .impose{
        font-family: 'Varta', sans-serif;
        box-shadow: 1px 1px 3px 3px rgb(187, 187, 187);
        font-size: 16px;
        position: absolute;
        background: white;
        top: 400px;
        text-align: center;
        width: 85%;
        margin-left: 48px;
        padding: 20px 20px;
        border: #d3d2d2;
    }
    
}

@media(max-width: 1070px){
    #img-top #hero{
        position: relative;
        width: 100%;
    }
    
    #img-top #text{
        text-transform: uppercase;
        font-family: 'Spartan', sans-serif;
        font-size: 40px;
        position: absolute;
        color: white;
        font-weight: 800;
        top: 180px;
        text-align: center;
        width: 85%;
        margin-left: 48px;
        padding-left: 30px;
    }
    
    #animal-stats #info{
        background: white;
        padding-bottom: 50px;
        font-family: 'PT Serif', serif;
        font-size: 15px;
        line-height: 28px;
    }
    
    #animal-stats #info p{
        width: 85%;
        padding-left: 70px;
        color: #56565b;
    }
    
    #animal-stats #superimpose .impose{
        font-family: 'Varta', sans-serif;
        box-shadow: 1px 1px 3px 3px rgb(187, 187, 187);
        font-size: 14px;
        position: absolute;
        background: white;
        top: 300px;
        text-align: center;
        width: 85%;
        margin-left: 48px;
        padding: 20px 20px;
        border: #d3d2d2;
    }
    
}

@media(max-width: 880px){

    #animal-stats #superimpose .impose{
        font-family: 'Varta', sans-serif;
        box-shadow: 1px 1px 3px 3px rgb(187, 187, 187);
        font-size: 12px;
        position: absolute;
        background: white;
        top: 330px;
        text-align: center;
        width: 85%;
        margin-left: 48px;
        padding: 20px 20px;
        border: #d3d2d2;
    }
    
}

@media(max-width: 992px){
    
}

@media(max-width: 900px){
    #img-top #hero{
        position: relative;
        width: 100%;
    }
    
    #img-top #text{
        text-transform: uppercase;
        font-family: 'Spartan', sans-serif;
        font-size: 40px;
        position: absolute;
        color: white;
        font-weight: 800;
        top: 150px;
        text-align: center;
        width: 85%;
        margin-left: 48px;
        padding-left: 30px;
    }
    
    #animal-stats #intro{
        background: #f1f1fa;
        padding-bottom: 20px;
    }
    
    #animal-stats #intro h1{
        font-family: 'Fjalla One', sans-serif;
        font-size: 46px;
        letter-spacing: 0.1em;
        line-height: 64px;
        margin-bottom: 20px;
        font-weight: 100;
    }
    
    #animal-stats #intro #opener{
        width: 75%;
        font-family: 'PT Serif', serif;
        color: #56565b;
        font-size: 15px;
        line-height: 33px;
    }
    
    #animal-stats #info{
        background: white;
        padding-bottom: 50px;
        font-family: 'PT Serif', serif;
        font-size: 15px;
        line-height: 28px;
    }
    
    #animal-stats #info p{
        width: 85%;
        padding-left: 70px;
        color: #56565b;
    }
    
}

@media(max-width: 750px){
    #img-top #hero{
        position: relative;
        width: 100%;
    }
    
    #img-top #text{
        text-transform: uppercase;
        font-family: 'Spartan', sans-serif;
        font-size: 30px;
        position: absolute;
        color: white;
        font-weight: 800;
        top: 110px;
        text-align: center;
        width: 85%;
        margin-left: 48px;
        padding-left: 20px;
    }
    
    #animal-stats #info{
        background: white;
        padding-bottom: 50px;
        font-family: 'PT Serif', serif;
        font-size: 15px;
        line-height: 28px;
    }
    
    #animal-stats #info p{
        width: 85%;
        padding-left: 70px;
        color: #56565b;
    }

}

@media(max-width: 650px){
    #img-top #hero{
        position: relative;
        width: 100%;
    }
    
    #img-top #text{
        text-transform: uppercase;
        font-family: 'Spartan', sans-serif;
        font-size: 20px;
        position: absolute;
        color: white;
        font-weight: 800;
        top: 80px;
        text-align: center;
        width: 85%;
        margin-left: 30px;
        padding-left: 15px;
    }
    
    #animal-stats #info{
        background: white;
        padding-bottom: 50px;
        font-family: 'PT Serif', serif;
        font-size: 15px;
        line-height: 28px;
    }
    
    #animal-stats #info p{
        width: 85%;
        padding-left: 70px;
        color: #56565b;
    }

}

@media(max-width: 500px){
    #img-top #hero{
        position: relative;
        width: 100%;
    }
    
    #img-top #text{
        text-transform: uppercase;
        font-family: 'Spartan', sans-serif;
        font-size: 20px;
        position: absolute;
        color: white;
        font-weight: 800;
        top: 80px;
        text-align: center;
        width: 85%;
        margin-left: 30px;
        padding-left: 15px;
    }
    
    #animal-stats #info{
        background: white;
        padding-bottom: 50px;
        font-family: 'PT Serif', serif;
        font-size: 13px;
        line-height: 28px;
    }
    
    #animal-stats #info p{
        width: 85%;
        padding-left: 70px;
        color: #56565b;
    }

}
