*
{
	margin: 0;
    padding: 0;
}

.main_text{
    position: relative;
	left: 27vw;
    top: 6vw;
	text-align: left;
	font-size:2vw;
	color: rgba(255, 255, 255, 0.822);
}


.column {
	/* width: 50%; */
    padding: 3px;
    position: relative;
    top: 15vw;
    left: 25vw;
}


#container {
	width: 55vw;
	height: 40vw;
	/* margin: 5em auto; */
	overflow: hidden;
	/* border: 10px solid #EEE5E5; */
	/* outline: 5px dashed #EEE5E5; */

	position: relative;
	
	
}
#container img {
	width: 100%;
	height: 100%;
	margin-bottom: -5px;
	transition: all 0.3s ease-out;
	position: relative;
	z-index: 2;
}

#container:hover img {
	transform: scale(1.2, 1.2);
	z-index: 9;
}


.box-text {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 17vw;
	left: 13vw;
	z-index: 3;
	padding: 10px;
    /* background-image: linear-gradient( 135deg, rgba(129, 255, 239, 0.50) 10%, rgba(240, 103, 180, 0.65) 100%); */
	opacity: 1;
	transition: 0.3s linear;
	color: white;
	font-family: "Roboto", sans-sherif;
	text-shadow: 2px 2px 2px #333;
	font-size: 2vmax;
}
.box-text h1 {
	/* font-size: 5vw; */
	font-family: "Roboto", sans-sherif;
}
.box-text p {
    font-size: 1.5em;
}
.box-text:hover{
    opacity: 0;
}


header
{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/national_list_home.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: right;
    overflow-x: hidden;
}

.main-nav
{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.main-nav li
{
	display: inline-block;
}

.main-nav li a
{
	color: white;
	text-decoration: none;
	padding: 5px 20px;
	font-size: 3vh;
	font-weight: 700;
	font-family: Arial, Helvetica, sans-serif;
}

.main-nav li a:hover
{
	color: red;
}

.main_text h1{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 600;
	
}

/* .box-text h1{
	font-family: Arial, Helvetica, sans-serif;
} */
