body{
    background-color: black;
    background-image: url("../images/cheetah.jpg");
    background-position: left 5% top 7%s;
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
 

}

 h1
{
    font-size: 700%;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    
    margin-left: 100px;
    margin-top: 30px;
    
} 

.nav-link{
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    /* font-size: 3vmin; */
    /* padding: 5px 20px; */
    margin-left: 5px;
}
.nav-link:hover{
    color: red;
}
.navbar {
    background:rgba(255, 255, 255, 0.096);
}

.container{
    text-align: center;
    display: block;
}
.q{
    background-color: rgba(23, 19, 248, 0.767);
    float: left;
    font-size: 200%;
    font-family: 'PT Serif', serif;
    margin: 5px;
    margin-top: 25px;
    border-radius: 25px;
}

.ans{
    background-color: rgba(238, 130, 238, 0.788);
    float: right;
    font-size: 150%;
    margin: 5px;
    border-radius: 25px;
    font-family: 'PT Serif', serif;
}



section div p{
    color: white;
    
    /* font-size: 250%; */

}

footer {
    text-align: center; 
    font-family: serif;
    clear: both;
    padding: 3px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }

  /* @media screen and (min-width: 600px) 
  {
      .q{
        font-size: 200%;
      }
      .ans{
        font-size: 150%;
      }
  } */

  
  
